
/* Calendar header CSS */
.fc-toolbar {
    padding-top: 20px;
    background-color: #ffffff;
    color: #000000;
}

/* Calendar events CSS */
.fc-event {
    background-color: #3b61fc;
    color: #ffffff;
    border: none;
}

/* Caledar days CSS */
.fc-day {
    border: 1px solid #ddd;
}
