
/* Change background color of calendar header */
.fc-toolbar {
    padding-top: 20px;
    background-color: #4e73df;
    color: #ffffff;
}

/* Change background color of events */
.fc-event {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
}

/* Add border to calendar cells */
.fc-day {
    border: 1px solid #ddd;
}

