/* Global styles */

p{
    text-align: center;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#scheduler {
    display: grid;

  
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    gap: 20px;
    padding: 20px;
}


/* Style for each section */
section {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px; /* Fixed height for each section */
}

/* Spot styles */
/* Existing sidebar and main styles */

/* Vehicle section adjustments for centering */
.vehicle-section {
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex; /* Using flexbox for alignment */
    flex-direction: column; /* Align children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    height: 150px; /* Fixed height for each section */
}

.vehicle-section i {
    font-size: 5em; /* Larger icons */
    margin-bottom: 10px; /* Space between icon and text */
    color: #2ecc71; /* Default color, can be overridden by specific classes */
    text-align: center; /* Center the icon */
}


/* Compact, Medium, Full-size car spots */
.vehicle-section.compact-spot i {
    color: #2ecc71; /* Green for compact cars */
}


/* Media query for responsiveness */
@media (max-width: 1024px) {
    #scheduler {
        grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
    }
}

@media (max-width: 768px) {
    #scheduler {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
        padding: 10px;
    }
}

@media (max-width: 480px) {
    #scheduler {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }

    .vehicle-section {
        height: auto; /* Adjustable height for very small screens */
    }
}

.vehicle-section.available i {
    color: green;
}

.vehicle-section.occupied i {
    color: red;
}